/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-mode-demploi {
	width: 100%;

	.columns {
		display: flex;
	}
}
