/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-mode-demploi {
	width: 100%;
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 50px;

	.scroll-container {
		margin-left: -10%;
		margin-right: -10%;

		@media screen and (max-width: 48rem) {
			margin-left: -5%;
			margin-right: -5%;
		}

		& > .flex {
			min-width: 1024px;
			height: 100%;
			padding-top: 50px;
			overflow-y: hidden;
		}
	}

	h2 {
		margin-bottom: 50px;
	}

	.entry-content &, & {
		padding-top: 50px;
	}

	img {
		width: 110px;
		height: 110px;
		margin: 0 auto;
	}

	.step {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		text-align: center;
		font-size: 12px;

		p {
			width: 140px;
			padding: 1rem;
			margin: 0 auto;
		}
	}

	.curve-after-step-1, .curve-after-step-2, .curve-after-step-3, .curve-after-step-4 {
		position: relative;
		display: block;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		left: -90px;
    	margin-right: -170px;
	}

	.step-1 {
		position: relative;
    	top: 30px;
	}

	.curve-after-step-1 {
		width: 130px;
		height: 60px;
		background-image: url('/wp-content/plugins/k-ba-blocks/assets/step1.svg');
	}

	.step-2 {
		position: relative;
		top: -20px;
	}

	.curve-after-step-2 {
		width: 71px;
		height: 46px;
		background-image: url('/wp-content/plugins/k-ba-blocks/assets/step2.svg');
		top: 60px;
    	transform: rotate(5deg);
	}

	.step-3 {
		position: relative;
		top: 40px;
	}

	.curve-after-step-3 {
		width: 85px;
		height: 45px;
		background-image: url('/wp-content/plugins/k-ba-blocks/assets/step3.svg');
		top: 30px;
	}

	.step-4 {
		position: relative;
		top: -30px;
	}

	.curve-after-step-4 {
		width: 65px;
		height: 40px;
		background-image: url('/wp-content/plugins/k-ba-blocks/assets/step4.svg');
		top: 40px;
		transform: rotate(5deg);
	}

	.step-5 {
		position: relative;
    	top: 20px;
	}
}

.column {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: -50px;
	align-items: center;
	padding: 0 25px;
}
