/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-producteur {
	margin-bottom: 10px;
	max-width: 100vw;

	a, a:visited {
		color: $orange;
		text-transform: uppercase;
	}

	.image {
		width: 100%;
		min-height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	h2 {
		padding-top: 0;
	}

	h2 + p {
		margin-top: 0;
	}

	a:hover, a:visited:hover {
		color: $dark-orange;
	}
}
