/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-banner {
	padding: 100px 0;
	margin-top: 100px;

	button {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: white;
		border: solid 2px white;
		color: $orange;
		font-size: 20px;
		letter-spacing: 1px;

		&:hover {
			color: white;
			background-color: $orange;
		}
		&:active, &:focus {
			outline: none;
		}
	}

	h1 {
		padding-right: 50px;
		font-size: 35px;
		margin-top: 0;
		margin-bottom: 0;
	}

	// = 768px
	@media screen and (max-width: 48rem) {
		flex-direction: column;

		h1 {
			font-size: 30px;
			padding-right: 0;
			margin-bottom: 30px;
		}
	}

}
