/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-valeurs {
	background-color: $light-orange;
	padding-bottom: 20px;
	margin-top: -30px;

	.wp-block-columns + & {
		margin-top: 100px;
		margin-bottom: 50px;
	}

	.content {
		display: flex;
		flex-wrap: wrap;

		li { list-style-image: url(/wp-content/themes/k-ba/assets/list-dot.svg); }

		h3 {
			text-align: center;
			padding-top: 40px;
			line-height: 1.3;
		}

		img {
			width: 150px;
			height: 150px;
			margin-bottom: 15px;
		}
	}

	.column {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-top: -75px;
		align-items: center;
		padding: 0 25px;
	}

	@media screen and (max-width: 600px) {
		margin-top: -75px;

		.column {
			min-width: 150px;
			padding: 0;

			h3 {
				padding-top: 0;
				font-size: 16px;
				max-width: 200px;
			}

			ul {
				margin-left: 0;
				padding: 0 15px;
			}

			&:nth-child(1), &:nth-child(2) {
				margin-bottom: 75px;
			}
		}
	}
}
