/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-code-postal {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
