/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-code-postal {
	margin-bottom: 40px;
	color: white;
	text-align: center;

	h3 {
		margin-bottom: 30px;

		@media screen and (max-width: 600px) {
			font-size: 1em;
		}
	}
	input {
		margin-right: 30px;
	}
}
