/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-faq {
	margin-bottom: 10px;

	h2 {
		font-size: 18px;
		line-height: 25px;
		padding-top: 0;
		margin: 0;
		padding: 10px;
		padding-right: 35px;
	}

	.collapsible {
		cursor: pointer;
		text-align: left;
		outline: none;
		background: #FFFFFF;
		border: 2px solid #F5F5F5;
		box-sizing: border-box;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		position: relative;
	}

	h2:hover {
		color: $orange;
	}

	.collapsible:after {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		background-image: url('/wp-content/themes/k-ba/assets/caret.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		position: absolute;
		transform: rotate(-90deg);
		right: 15px;
		top: 15px;
	}

	.collapsible.active {
		color: $orange;
	}

	.collapsible.active:after {
		transform: rotate(0deg);
	}

	.content {
		display: none;
		overflow: hidden;
		padding: 15px;
	}

	.collapsible.active + .content {
		display: block;
	}
}
