/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-k-ba-presse {
	padding: 50px;
	margin-left: -50px;
	margin-right: -50px;

	.column {
		margin-top: 0px;
	}
}
