/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-k-ba-presse {
	a, a:visited {
		color: $orange;
		text-transform: uppercase;
	}

	.orange-container {
		background-color: $light-orange;
	}

	span.type {
		text-transform: uppercase;
		display: block;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 10px;
	}

	h4 {
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
	}

	img {
		margin-left: auto;
		max-width: 40%;
		margin-top: 15px;
	}

	a:hover, a:visited:hover {
		color: $dark-orange;
	}
}
