/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import 'colors';

@import 'valeurs/style';

@import 'producteur/style';

@import 'banner/style';

@import 'mode-demploi/style';

@import 'presse/style';

@import 'faq/style';

@import 'code-postal-check/style';


// Globals
.light {
	background-color: $light-orange;
}

.dark {
	background-color: $orange;

	p, h1, h2, h3, h4, h5 {
		color: white;
	}
}
